name: API Tests and Coverage

on:
  push:
    paths:
      - 'api/**'
  pull_request:
    branches:
      - main

jobs:
  test_and_coverage:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install
        working-directory: ./api

      - name: Run Tests
        run: npm test
        working-directory: ./api

      - name: Run ESLint
        run: npm run lint
        working-directory: ./api

      - name: Jest coverage report
        uses: ArtiomTr/jest-coverage-report-action@v2.3.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: ./api
